.intro {
  text-align: center;
  background-color: #7d7d89;
  color: #ffffff;
  padding: 2em 1em;
  margin-bottom: 2em;
}

.intro h1 {
  font-size: 2em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.intro p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 0;
}


.form {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 1em;
    padding-left: 2.8em;
    padding-right: 2.8em;
    padding-bottom: 2.1em;

    background-color: #7d7d89;
    box-shadow: 0 0 0 4px #090909, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .4s ease-in-out;
  }
  
  ::placeholder {
    color: #d22121;
    text-align: center;
  }
  
  .form .heading {
    padding-left: 0.9em;
    color: #ffffff;
    background-color: transparent;
    letter-spacing: .7em;
    text-align: center;
    padding-top: .2em;
    padding-bottom: 2em;
    text-shadow: inset -1px -1px 1px #cd731a;
  }
  
  .form .input {
    outline: none;
    padding: 0.5em;
    border: 1px solid #e90c0c;
    color: #df1111;
    width: 20em;
    height: 3em;
    border-radius: 10px;
    background-color: #EADDCA;
    text-align: center;
  }
  
  .buttonimc {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
   }
   
   .buttonimc::before {
    content: '';
    width: 0;
    height: 3em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #d8c70f 0%, #e43a0b 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .buttonimc:hover::before {
    width: 15em;
   }

   .table-container {
    margin-top: 2em;
   }

  .severa {
    background-color: red;
  }
  .moderada {
    background-color: orange;
  }
  .aceptable {
    background-color: yellow;
  }
  .normal {
    background-color: green;
  }
  .sobrepeso {
    background-color: lightblue;
  }
  .obeso-1 {
    background-color: blue;
  }
  .obeso-2 {
    background-color: purple;
  }
  .obeso-3 {
    background-color: maroon;
  }
  