.imc-container {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 1rem;
  }
  .imc-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  